# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data (raw or generated)
data/
*.csv
*.parquet

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log