# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data (track folder, ignore contents)
data/*
!data/.gitkeep

*.csv
*.parquet

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log